<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manoj.sortinghat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hat"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".number_small" />
        <activity android:name=".number_medium" />
        <activity android:name=".number_large" />
        <activity android:name=".string_small" />
        <activity android:name=".string_medium" />
        <activity android:name=".string_large"></activity>
    </application>

</manifest>